<h1>Listing amoebas</h1>

<table>
  <tr>
    <th>Dmgpoints</th>
    <th>Player</th>
    <th>Position</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @amoebas.each do |amoeba| %>
  <tr>
    <td><%= amoeba.dmgpoints %></td>
    <td><%= amoeba.player %></td>
    <td><%= amoeba.position %></td>
    <td><%= link_to 'Show', amoeba %></td>
    <td><%= link_to 'Edit', edit_amoeba_path(amoeba) %></td>
    <td><%= link_to 'Destroy', amoeba, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Amoeba', new_amoeba_path %>
